<div class="video-list-container">
  <h1> Video List </h1>
  <ul class="video-list">
    <% @records.each do |video| %>
      <a class="video-item" href="/videos/<%= video["_id" ]%>">
        <img src="<%= video["thumbnails"].first.fetch("url") %>" />
        <span class="title"><%= video["title"] %> </span>
      </a>
    <% end %>
  </ul>

  <div class="pagination-container">
    <%== pagy_nav(@pagy) %>
  </div>
</div>
