<div class="zype-player-container">
  <div id="zype_<%= @video_id %>" class="zype-player"></div>
  <script src="https://player.zype.com/embed/<%= @video_id %>.js?autoplay=true&app_key=<%= @api_key %>" type="text/javascript"></script>

  <a href="javascript:history.back()" class="btn-back">Back</a>
</div>